.detail-block {
  padding: 0 $s-size 0 $s-size;
  color: darken($purple, 10%);
}

.detail-block__title {
  font-size: $m-size + 5;
  color: grey;
  font-weight: 300;
}

.detail-block__wrapper {
  position: relative;
  display: inline-block;
}

.detail-block__image {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: -7px;
}